﻿@model paysheet.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<h2>
    Crear cuenta</h2>
<p>
    Utilice el formulario de abajo para crear una nueva cuenta.
</p>
<p>
    Las contraseñas deben tener un mínimo de @Membership.MinRequiredPasswordLength
    caracteres de longitud.
</p>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
    <fieldset>
        <legend>Información de la Cuenta</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { @class = "required email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </fieldset>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>