﻿<ul class="nav">    
    @*<<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Home
        <b class="caret"></b></a>
         
        ul class="dropdown-menu">
            <li><a href="@Url.Content("~/home/?layout=standard")">Standard Layout</a></li>
            <li><a href="@Url.Content("~/home/?layout=fluid")">Fluid Layout</a></li>
        </ul>
    </li> *@ 
    <li><a href="@Url.Content("~/home/index")" id="about">Home</a></li>    
    <li><a href="@Url.Content("~/home/about")" id="about">About</a></li>     
</ul>    
